parameters:
    level: max
    tmpDir: ./build/cache/phpstan
    checkMissingIterableValueType: false
    paths:
        - ./src
    ignoreErrors:
        - '#no type specified#'
        - '#mixed#'
        - '#not specify its types#'
