<?php
return [
    'los' => [
        'api_server' => [
            'auth' => [
                'clients' => [
                    //'user' => 'hashed password',
                ],
            ],
        ],
    ],
];
